<div class="row">
  <div class="col-md-3">
    <div class="sidebar">

      <!-- will size to match content -->
      <div class="grid-stack-item">
        <div class="grid-stack-item-content">Text</div>
      </div>

      <div class="grid-stack-item">
        <div class="grid-stack-item-content">Number</div>
      </div>

      <div class="grid-stack-item">
        <div class="grid-stack-item-content">Date & Time</div>
      </div>

      <!-- manually force a drop size of 2x1 -->
      <!-- <div class="grid-stack-item" gs-w="2" gs-h="1" gs-max-w="3">
        <div class="grid-stack-item-content">Force Drop Size Example</div>
      </div> -->

    </div>
  </div>
</div>

<h4>Form Grid</h4>
<div class="grid-stack"></div>